ext(path)
	slice(extname(path), 1)

font-face(name, url)
	extension = ext(url)

	@font-face
		font-family name
		src url(url) format(extension)

flex-column(justify-content = normal, align-items = normal)
	display flex
	flex-direction column

	if justify-content != 'normal'
		justify-content justify-content

	if align-items != 'normal'
		align-items align-items

flex-row(justify-content = normal, align-items = normal)
	display flex

	if justify-content != 'normal'
		justify-content justify-content

	if align-items != 'normal'
		align-items align-items

has-class(class)
	[class^=\'{class}\'], [class*=\'{class}\']
		{block}

bg(background)
	background background

bg-color(background-color)
	background-color background-color