include utils/doggo

<!DOCTYPE html>
html(lang="en")
    head
        +charset
        +viewport
        +ie-support
        title Code Print | MacOS
        link(rel="shortcut icon" type="image/png" href="assets/apple.png")
    body
        h1 teste

