slide-in-down(delay = 0)
    opacity 0
    animation slideInDown 1s
    animation-fill-mode forwards
    animation-delay delay

*
    outline 0
    box-sizing border-box
    text-rendering optimizeLegibility !important
    -webkit-font-smoothing antialiased !important

html, body
    height 100%
    font-family 'Open Sans'

    body
        display flex
        flex-direction column
        justify-content center
        align-items center
        color white
        background teal
        overflow-x hidden

        .apple-icon
            font-size 72px
            margin auto 0 0
            user-select none
            slide-in-down 0

        .headline
            letter-spacing 2px
            margin-bottom 0
            slide-in-down .5s

        .subtitle
            slide-in-down 1s
            font-weight bold

            .fancy-italic
                font-size 24px
                font-family 'Lobster'
                text-decoration underline

        .screenshot-area
            display flex
            flex-direction column
            justify-content center
            padding 36px
            max-width 100%

            .terminal-container
                background #282a36
                margin-top auto
                border-radius 8px
                box-shadow 0 0 30px alpha(#323232, 0.8)
                overflow hidden
                slide-in-down 1.5s

                .terminal-titlebar
                    padding 14px

                    [class^='btn'], [class*=' btn']
                        width 16px
                        height 16px
                        border none
                        border-radius 50%
                        margin 0 4px
                        outline none

                        &.btn-close
                            background crimson
                        &.btn-maximize
                            background gold
                        &.btn-minimize
                            background limegreen

                .terminal-code
                    padding 18px

                    textarea
                        background transparent
                        border none
                        resize none

                .CodeMirror
                    font-size 18px
                    min-width 400px
                    font-family 'Fira Code'
                    font-variant-ligatures additional-ligatures
                    overflow hidden !important

                    ::-webkit-scrollbar
                        width 0px
                        background transparent

        .screenshot-btn
            align-self center
            margin 24px
            background linear-gradient(to top, darkblue, blue)
            color white
            border none
            padding 12px
            border 1px solid purple
            border-radius 12px
            font-size 16px
            font-weight bold
            slide-in-down 2s

        .footer-paragraph
            margin-top auto
            slide-in-down 2s
            margin-bottom 36px

            .author-link
                font-size 20px
                color gainsboro
                font-family 'Lobster'


@keyframes slideInDown
    from
        opacity 0
        transform translateY(-100px)
    to
        opacity 1
        transform translateY(0)
