@import 'utils/cursive'

slide-in-down(delay = 0)
	opacity 0
	animation slideInDown 1s
	animation-fill-mode forwards
	animation-delay delay

custom-scrollbar()
	&::-webkit-scrollbar
		width 12px

	&::-webkit-scrollbar-thumb
		background-clip padding-box
		border 4px solid transparent
		background-color rgba(0, 0, 0, 0.3)
		border-radius 8px

	&::-webkit-scrollbar-corner
		background-color transparent

*
	box-sizing border-box

html, body
	min-height 100vh

	body
		margin 0
		flex-column(center, center)
		font-family 'Open Sans'
		color white
		bg teal
		overflow-x hidden

		.settings-btn
			flex-column(center, center)
			width 48px
			height 48px
			position fixed
			left 16px
			top 16px

			&:before
				content attr(data-icon)
				position absolute
				font-size 1.33em
				font-family 'Font Awesome 5 Free'
				font-weight 900
				transform-origin 50% 50%
				transition transform 0.5s

			&:hover
				&:before
					transform rotateZ(180deg)

				.settings-btn-outer circle
					stroke-dashoffset 0

			.settings-btn-outer
				max-width 50px
				fill white
				transform rotateZ(270deg)

				circle
					fill transparent
					stroke white
					stroke-width 3
					stroke-dasharray 252
					stroke-linecap round
					stroke-dashoffset 252
					transition stroke-dashoffset 0.5s

		.apple-icon
			font-size 72px
			position relative
			margin 0
			user-select none
			slide-in-down()

			&:after
				content attr(data-quote)
				font-family 'VT323'
				font-size 16px
				position absolute
				color gold
				white-space nowrap
				bottom 0
				left 50%
				user-select none
				text-shadow 2px 2px 0 olive
				animation pulsating 5s infinite

		.main-headline
			letter-spacing 2px
			margin-bottom 0
			slide-in-down 0.5s

		.main-subtitle
			slide-in-down 1s
			font-weight bold
			text-align center

			.fancy-italic
				font-size 24px
				font-family 'Lobster'
				text-decoration underline

		.screenshot-area
			flex-column center
			padding 36px
			max-width 100%
			max-height 100%

			.terminal-container
				bg #282a36
				margin-top auto
				border-radius 8px
				box-shadow 0 0 30px alpha(#323232, 0.8)
				overflow hidden
				min-height 250px
				slide-in-down 1.5s

				.terminal-settings
					display flex
					flex-direction column
					bg gainsboro
					position absolute
					color black
					width 100%
					height calc(100% - 44px)
					z-index 3
					transform translateY(calc(-100% - 44px))
					overflow auto
					transition transform 0.8s
					custom-scrollbar()

					&.opened-terminal-settings
						transform translateY(0)

					.settings-item
						padding 12px 18px
						user-select none
						cursor pointer
						transition background-color 0.3s

						&:hover
							bg-color alpha(grey, 0.3)

						&:not(:last-child)
							border-bottom 1px solid alpha(black, 0.1)

						&:after
							content attr(data-subtitle)
							color alpha(black, 0.5)
							font-size 14px

						.setting-name
							font-weight bold

				.terminal-titlebar
					flex-row(normal, center)
					position relative
					padding 14px
					bg #282a36
					z-index 5

					+has-class('btn')
						width 16px
						height 16px
						border none
						border-radius 50%
						margin 0 2px
						outline none

						&.btn-close
							bg crimson

						&.btn-maximize
							bg gold

						&.btn-minimize
							bg limegreen
							margin-right -48px

					.window-title
						opacity 0
						font-weight bold
						user-select none
						font-size 14px
						margin 0 auto
						transition opacity 0.5s

				.terminal-code
					padding 0 18px 18px

					textarea
						bg transparent
						border none
						resize none

				.CodeMirror
					font-size 18px
					min-width 300px
					height auto
					overflow hidden !important

					::-webkit-scrollbar
						width 0
						bg transparent

		.screenshot-btn
			font-family 'Open Sans'
			align-self center
			margin 0 24px 24px
			bg linear-gradient(to top, mediumblue, blue)
			color white
			border none
			padding 6px 12px
			border 1px solid navy
			border-radius 6px
			font-size 16px
			font-weight bold
			letter-spacing 1px
			outline none
			overflow hidden
			cursor pointer
			slide-in-down 2s
			transition box-shadow 0.5s, transform 0.5s, background-color 0.5s

			&[disabled='true']
				border 1px solid alpha(black, 0.3)
				box-shadow none
				color alpha(white, 0.5)
				bg linear-gradient(to top, alpha(#202020, 0.5), alpha(#606060, 0.5))

				&:hover
					box-shadow none

			&:hover
				box-shadow 0 0 0 3px alpha(royalblue, 0.5)

			&:active
				transform scale(0.9)

			.btn-label
				margin-left 6px

		.footer-paragraph
			text-align center
			slide-in-down 2.5s

			.author-link
				font-size 20px
				color gainsboro
				font-family 'Lobster'

@keyframes slideInDown
	from
		opacity 0
		transform translateY(-100px)

	to
		opacity 1
		transform translateY(0)

@keyframes pulsating
	0%
		transform scale(1) rotateZ(-15deg)

	50%
		transform scale(1.2) rotateZ(-5deg)

	100%
		transform scale(1) rotateZ(-15deg)