include utils/doggo

<!DOCTYPE html>
html(lang="en")
    head
        +charset
        +viewport
        +ie-support
        title Code Print | MacOS
        link(rel="shortcut icon" type="image/png" href="assets/apple.png")
        +css('https://fonts.googleapis.com/css?family=Open+Sans&display=swap')
        +css('https://fonts.googleapis.com/css?family=Lobster&amp;display=swap')
        +css('https://fonts.googleapis.com/css?family=Fira+Code&amp;display=swap')
        +css('index.styl')
    body
        h1.apple-icon 🍎
        h1.headline macos.sx
        p.subtitle Share your #[span.fancy-italic stylish] snippets with the world!
        .screenshot-area
            section.terminal-container
                .terminal-titlebar
                    button.btn-close
                    button.btn-maximize
                    button.btn-minimize
                .terminal-code
                    textarea
        p.footer-paragraph Created by #[a.author-link(href="https://github.com/henriquehbr") @henriquehbr] and #[a.author-link(href="https://github.com/renanmav") @renanmav]

        +js('index.ts')
