include utils/doggo

doctype html
html(lang='en')
	head
		+charset
		+viewport
		+ie-support
		+description('Create code snippets with the look & feel of MacOS')
		title Code Print
		+favicon('assets/img/apple-classic-logo.png')
		+css('index.styl')
	body
		h1.apple-icon 🍎
		h1.headline mac-code
		p.subtitle Share your #[span.fancy-italic stylish] snippets with the world!
		.screenshot-area
			section.terminal-container
				.terminal-titlebar
					button.btn-close
					button.btn-maximize
					button.btn-minimize
				//-.terminal-settings Settings
				.terminal-code
					textarea
			//-button.screenshot-btn Screenshot!
		p.footer-paragraph.
			Created by
			#[a.author-link(href='https://github.com/henriquehbr') @henriquehbr] and
			#[a.author-link(href='https://github.com/renanmav') @renanmav]
		+js('index.ts')